body.template-dashboard\._dashboard{
    background-color: #f8f5f4;
}

.dashboard{
    &__main--content{
        position: relative;
    }

    &__logo{
        a{
            .hive-logo{
                width: 185px;
                margin-left: auto;
                position: absolute;
                right: 0;
                top: 0;
                @media(max-width: 768px){
                    position: relative;
                    margin: 0 auto;
                }
            }
        }
        .dashboard-bee{
            width: 120px;
            right: 35px;
            position: absolute;
            top: 50px;
            @media(max-width: 768px){
                position: relative;
                margin: 0 auto;
                right: 0;
                top: 0;
                width: 80px;
            }
        }
    }

    &__greetings{
        @media(max-width: 768px){
            padding: 35px 0 0 0;
        }
        .hdng{
            color: #0070C0;
            font-weight: 600;
            font-size: 30px;
            padding: 0 185px 0 0;
            @media(max-width: 768px){
                padding: 0 0 0 0;
                font-size: 23px;
            }
            span{
                color: #595959;
                font-weight: 600;
            }
        }
        .sub-hdng{
            color: #0070C0;
            span{
                display: block;
            }
        }
    }
    &__summary{
        .summary-inner{
            display: flex;
            align-items: center;
            margin: 120px 0 0 0;
            @media(max-width: 768px){
                margin: 70px 0 0 0;
                flex-direction: column;
                align-items: baseline;
            }
            @media(max-width: 500px){
                align-items: center;
            }
            .commissions{
                .hdng{
                    color: #595959;
                    padding: 0 0 20px 0;
                    font-size: 30px;
                    @media(max-width: 768px){
                        font-size: 23px;
                    }
                }
                .earnings{
                    .price{
                        font-weight: 600;
                        color: #595959;
                        font-size: 25px;
                        span{
                            font-size: 60px;
                            color: #FFC000;
                            padding: 0 5px 0 0;
                            @media(max-width: 768px){
                                font-size: 35px;
                            }
                        }
                    }
                    i{
                        color: #595959;
                        font-size: 20px;
                    }
                }
            }
            .btns{
                margin: 50px 0 0 0;
                @media(max-width: 768px){
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                p{
                    &:nth-child(1){
                        text-align: right;
                        margin: 0 0 25px 0;
                    }
                    a{
                        text-align: center;
                        background-color: #2F5597;
                        color: #fff;
                        padding: 10px 40px;
                        border-radius: 5px;
                        display: inline-block;
                        white-space: nowrap;
                    }
                }
            }
        }
    }






}