body.template-profile\._profile{
    background-color: #f8f5f4;
}

.profile{

    &__form{
        background-color: #fff;
        form{
            width: 100%;
            @media(max-width: 1400px){
                width: 1010px;
            }
            dl{
                display: flex;
                padding: 10px 0;
                &:first-child{
                    border-top: 2px solid #f8f5f4;
                }
                &:last-child{
                    border-bottom: 2px solid #f8f5f4;
                }
                &:not(:last-child){
                    border-bottom: 2px solid #f8f5f4;
                }
                dt{
                    width: 170px;
                }
                dd{
                    &:nth-child(2){
                        width: 65px;
                    }
                }
            }
        }
        .form-responsive{
            width: 100%;
            z-index: 150;
            overflow-x: auto;
            position: relative;
        }
    }







}