body.template-search-results\._search_results{
    background-color: #f8f5f4;
}

.search-results{
    .main-content--inner .content-inner{
        margin: 35px 0 0 0;
    }

    &__rm-card{
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        @media(max-width: 768px){
            padding: 0;
        }
    }

    &__heading{
        padding: 0 0 13px 0;
        @media(max-width: 768px){
            padding: 20px;
        }
        .ttl{
            font-weight: 600;
        }
        .stars{
            padding: 6px 0;
            i{
                color: #e8bd01;
                font-size: 12px;
            }
        }
        .location{
            p{
                font-size: 13px;
                i{
                    width: 20px;
                }
            }
        }
        .phone{
            p{
                font-size: 13px;
                i{
                    width: 20px;
                }
            }
        }
    }
    &__rm-card--inner{
        display: flex;
        padding: 10px;
        background-color: #f8f5f4;
        @media(max-width: 1024px){
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .rm-card--content{
            width: 320px;
            padding: 20px;
            margin: 0 15px 0 0;
            background-color: #fff;
            @media(max-width: 1024px){
                width: 100%;
                margin: 10px 0 0 0;
            }
            .hdng{
                font-size: 13px;
                color: red;
                font-weight: 600;
                text-align: center;
                padding: 0 0 15px 0;
                .fa-user{
                    vertical-align: baseline;
                }
            }
            dl{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 25px 0;
                row-gap: 15px;
                &:nth-child(2){
                    border-top: 1px solid #c3c3c3;
                }
                &:nth-child(3){
                    border-top: 1px solid #c3c3c3;
                    border-bottom: 1px solid #c3c3c3;
                }
                &:last-child{
                    border-bottom: 1px solid #c3c3c3;
                }
                dt{
                    color: #3535eb;
                    font-weight: 600;
                    width: 115px;
                    span{
                        color: #140093;
                    }
                }
                dd{
                    font-weight: 600;
                    &:nth-child(4){
                        font-size: 13px;
                        .fa-check{
                            padding: 0 5px 0 0;
                        }
                    }
                    a{
                        font-weight: 600;
                        font-size: 14px;
                        padding: 8px 15px;
                        border-radius: 100px;
                        background-color: #e8bd01;
                    }
                }
            }
        }
        .rm-img{
            width: 74%;
            @media(max-width: 1024px){
                width: 100%;
            }
            img{
                height: 475px;
                object-fit: cover;
                @media(max-width: 1024px){
                    height: auto;
                }
            }
        }
    }



}