$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';


body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
table,
th,
tr,
td,
figure,
a
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: normal;
    list-style: none;
    border: none;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    color: initial;
    line-height: 1.5;
}
textarea:focus, input:focus{
    outline: none;
}
button{
    cursor: pointer;
}
img{
    width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

i::before{
    vertical-align: middle;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.btn-link{
    transition: 0.2s;
    &:hover{
        opacity: 0.8;
    }
}

.bold{
    font-weight: 600;
}

.hdng-title{
    color: #935d1f;
}