body.template-dashboard\._dashboard {
  background-color: #f8f5f4;
}

.dashboard__main--content {
  position: relative;
}
.dashboard__logo a .hive-logo {
  width: 185px;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 768px) {
  .dashboard__logo a .hive-logo {
    position: relative;
    margin: 0 auto;
  }
}
.dashboard__logo .dashboard-bee {
  width: 120px;
  right: 35px;
  position: absolute;
  top: 50px;
}
@media (max-width: 768px) {
  .dashboard__logo .dashboard-bee {
    position: relative;
    margin: 0 auto;
    right: 0;
    top: 0;
    width: 80px;
  }
}
@media (max-width: 768px) {
  .dashboard__greetings {
    padding: 35px 0 0 0;
  }
}
.dashboard__greetings .hdng {
  color: #0070C0;
  font-weight: 600;
  font-size: 30px;
  padding: 0 185px 0 0;
}
@media (max-width: 768px) {
  .dashboard__greetings .hdng {
    padding: 0 0 0 0;
    font-size: 23px;
  }
}
.dashboard__greetings .hdng span {
  color: #595959;
  font-weight: 600;
}
.dashboard__greetings .sub-hdng {
  color: #0070C0;
}
.dashboard__greetings .sub-hdng span {
  display: block;
}
.dashboard__summary .summary-inner {
  display: flex;
  align-items: center;
  margin: 120px 0 0 0;
}
@media (max-width: 768px) {
  .dashboard__summary .summary-inner {
    margin: 70px 0 0 0;
    flex-direction: column;
    align-items: baseline;
  }
}
@media (max-width: 500px) {
  .dashboard__summary .summary-inner {
    align-items: center;
  }
}
.dashboard__summary .summary-inner .commissions .hdng {
  color: #595959;
  padding: 0 0 20px 0;
  font-size: 30px;
}
@media (max-width: 768px) {
  .dashboard__summary .summary-inner .commissions .hdng {
    font-size: 23px;
  }
}
.dashboard__summary .summary-inner .commissions .earnings .price {
  font-weight: 600;
  color: #595959;
  font-size: 25px;
}
.dashboard__summary .summary-inner .commissions .earnings .price span {
  font-size: 60px;
  color: #FFC000;
  padding: 0 5px 0 0;
}
@media (max-width: 768px) {
  .dashboard__summary .summary-inner .commissions .earnings .price span {
    font-size: 35px;
  }
}
.dashboard__summary .summary-inner .commissions .earnings i {
  color: #595959;
  font-size: 20px;
}
.dashboard__summary .summary-inner .btns {
  margin: 50px 0 0 0;
}
@media (max-width: 768px) {
  .dashboard__summary .summary-inner .btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.dashboard__summary .summary-inner .btns p:nth-child(1) {
  text-align: right;
  margin: 0 0 25px 0;
}
.dashboard__summary .summary-inner .btns p a {
  text-align: center;
  background-color: #2F5597;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
}
