body.template-search-confirmation\._search_confirmation {
  background-color: #f8f5f4;
}

.search-confirmation__rm-card {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.search-confirmation__rm-card:not(:last-child) {
  margin: 0 0 20px 0;
}
.search-confirmation__rm-card .rm-img figure {
  width: 370px;
  position: relative;
}
.search-confirmation__rm-card .rm-img figure .fa-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 10px;
  color: #e8bd01;
  border-radius: 100px;
}
.search-confirmation__rm-card .rm-img figure img {
  border-radius: 5px;
}
.search-confirmation__rm-card .rm-content {
  width: 100%;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-confirmation__rm-card .rm-content .rm-main-row {
  display: flex;
  justify-content: space-between;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-title {
  font-size: 16px;
  font-weight: 600;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-star {
  padding: 6px 0;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-star .fa-star {
  color: #e8bd01;
  font-size: 12px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-location p {
  font-size: 13px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-location p span {
  padding: 0 0 0 7px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-description {
  padding: 15px 0 0 0;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-refund {
  width: 100%;
  text-align: right;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-refund .btn-link {
  color: #404040;
  font-weight: 600;
}
.search-confirmation__rm-card .rm-content .rm-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.search-confirmation__rm-card .rm-content .rm-bottom .btn-link {
  background-color: #935d1f;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
}
.search-confirmation__rm-card .rm-content .rm-bottom .rm-reviews p {
  font-size: 13px;
}
.search-confirmation__rm-card .rm-content .rm-bottom .rm-reviews p span {
  font-weight: 600;
}
.search-confirmation__rm-card .rm-content .rm-bottom .price {
  color: #935d1f;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  padding: 0 0 15px 0;
}
.search-confirmation__rm-card .rm-content .rm-bottom .price span {
  padding: 0 8px 0 0;
  font-size: 20px;
}
.search-confirmation__heading {
  font-weight: 600;
  padding: 0 0 30px 0;
}
