body.template-search-confirmation\._search_confirmation {
  background-color: #f8f5f4;
}

.search-confirmation__destinations {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1200px) {
  .search-confirmation__destinations {
    flex-wrap: wrap;
  }
}
.search-confirmation__destinations .destinations--content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 70%;
}
@media (max-width: 1200px) {
  .search-confirmation__destinations .destinations--content {
    width: 100%;
  }
}
.search-confirmation__destinations .destinations--prices {
  width: 30%;
}
@media (max-width: 1200px) {
  .search-confirmation__destinations .destinations--prices {
    width: 100%;
  }
}
.search-confirmation__destinations .destinations--prices .row {
  padding: 20px;
  background-color: #fff;
}
.search-confirmation__destinations .destinations--prices .row:not(:last-child) {
  margin: 0 0 20px 0;
}
.search-confirmation__destinations .destinations--prices .row .ttl {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.search-confirmation__destinations .destinations--prices .row.row-1 dl {
  display: flex;
  justify-content: space-between;
}
.search-confirmation__destinations .destinations--prices .row.row-1 dl:not(:last-child) {
  margin: 0 0 10px 0;
}
.search-confirmation__destinations .destinations--prices .row.row-1 dl dt, .search-confirmation__destinations .destinations--prices .row.row-1 dl dd {
  font-size: 14px;
}
.search-confirmation__destinations .destinations--prices .row.row-1 dl .discount {
  color: #ffa500;
  font-weight: 600;
}
.search-confirmation__destinations .destinations--prices .row.row-1 .total {
  display: flex;
  justify-content: space-between;
}
.search-confirmation__destinations .destinations--prices .row.row-1 .total p:nth-child(1) {
  color: #404040;
  font-weight: 600;
}
.search-confirmation__destinations .destinations--prices .row.row-1 .total p:nth-child(2) {
  font-size: 18px;
  color: #404040;
  font-weight: 600;
  text-align: center;
}
.search-confirmation__destinations .destinations--prices .row.row-1 .total p:nth-child(2) span {
  display: block;
  font-size: 14px;
  color: #008000;
  font-weight: 600;
}
.search-confirmation__destinations .destinations--prices .row.row-1 .hr-line {
  margin: 20px 0;
}
.search-confirmation__destinations .destinations--prices .row.row-2 .ttl span {
  color: #ffa600;
  font-weight: 600;
}
.search-confirmation__destinations .destinations--prices .row.row-2 .ttl .fa-coins {
  color: #e8bd01;
  margin: 0 10px 0 0;
}
.search-confirmation__destinations .destinations--prices .row.row-2 dl dt {
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 14px;
}
.search-confirmation__destinations .destinations--prices .row.row-2 dl dd {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.search-confirmation__destinations .destinations--prices .row.row-3 ul li {
  list-style: disc;
  margin: 0 0 0 20px;
  font-size: 14px;
}
.search-confirmation__rm-card {
  display: flex;
  row-gap: 20px;
}
@media (max-width: 992px) {
  .search-confirmation__rm-card {
    flex-wrap: wrap;
  }
}
.search-confirmation__rm-card .rm-img figure {
  width: 200px;
  position: relative;
}
@media (max-width: 992px) {
  .search-confirmation__rm-card .rm-img figure {
    width: 100%;
  }
}
.search-confirmation__rm-card .rm-img figure .fa-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 10px;
  color: #e8bd01;
  border-radius: 100px;
}
.search-confirmation__rm-card .rm-img figure img {
  border-radius: 5px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .search-confirmation__rm-card .rm-img figure img {
    height: auto;
  }
}
.search-confirmation__rm-card .rm-content {
  width: 100%;
  padding: 0 0 0 20px;
}
@media (max-width: 992px) {
  .search-confirmation__rm-card .rm-content {
    padding: 0 0 0 0;
  }
}
.search-confirmation__rm-card .rm-content .rm-main-row {
  display: flex;
  justify-content: space-between;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-title {
  font-size: 16px;
  font-weight: 600;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-star {
  padding: 6px 0;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-star .fa-star {
  color: #e8bd01;
  font-size: 12px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-location p {
  font-size: 13px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-heading .rm-location p span {
  padding: 0 0 0 7px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-description {
  padding: 15px 0 0 0;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-main .rm-type h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0 5px 0;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-amenities dl {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  flex-wrap: wrap;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-amenities dl:nth-child(2) {
  margin: 10px 0 0 0;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-amenities dl:nth-child(2) dd {
  color: green;
  font-weight: 600;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-amenities dl dd {
  font-size: 14px;
}
.search-confirmation__rm-card .rm-content .rm-main-row .rm-amenities dl dd span {
  vertical-align: middle;
  padding: 0 0 0 10px;
}
.search-confirmation__rm-selected-date {
  padding: 15px 0 15px 0;
  margin: 20px 0 0 0;
  border-top: 1px dashed rgba(206, 206, 206, 0.9960784314);
  border-bottom: 1px dashed rgba(206, 206, 206, 0.9960784314);
}
.search-confirmation__rm-selected-date dl {
  display: flex;
}
.search-confirmation__rm-selected-date dl dd {
  font-size: 13px;
  width: 50%;
}
.search-confirmation__rm-selected-date dl dd:nth-child(1) {
  margin-right: 25px;
  border-right: 1px solid #8b8b8b;
}
.search-confirmation__rm-selected-date dl dd span {
  color: #868686;
}
.search-confirmation__booking {
  padding: 15px 0;
}
.search-confirmation__booking dl dd {
  font-weight: 600;
  padding: 10px;
  font-size: 13px;
}
.search-confirmation__booking dl dd:nth-child(1) {
  color: rgb(255, 166, 0);
  background-color: rgba(255, 166, 0, 0.1215686275);
}
.search-confirmation__booking dl dd:nth-child(2) {
  color: rgb(255, 0, 221);
  background-color: rgba(255, 0, 221, 0.1215686275);
}
.search-confirmation__booking dl dd i {
  margin: 0 7px 0 0;
}
.search-confirmation__form {
  background-color: #eeefff;
  padding: 15px;
}
.search-confirmation__form .desc {
  color: #768171;
  font-size: 14px;
}
.search-confirmation__form form {
  margin: 25px 0 0 0;
}
.search-confirmation__form form dl {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}
.search-confirmation__form form dl input::-moz-placeholder {
  color: rgb(197, 197, 197);
}
.search-confirmation__form form dl input::placeholder {
  color: rgb(197, 197, 197);
}
.search-confirmation__form form dl input {
  width: 48%;
  padding: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .search-confirmation__form form dl input {
    flex: 1 1 48%;
  }
}
.search-confirmation__form form dl .iti {
  width: 48%;
}
@media (max-width: 768px) {
  .search-confirmation__form form dl .iti {
    width: 100%;
  }
}
.search-confirmation__form form dl .iti .form-control {
  width: 100%;
}
.search-confirmation__form .btn {
  text-align: center;
  margin: 30px 30px 0 30px;
}
@media (max-width: 768px) {
  .search-confirmation__form .btn {
    margin: 30px 0 10px 0;
  }
}
.search-confirmation__heading {
  font-weight: 600;
  padding: 0 0 30px 0;
}
