.sidebar-left__sidebar {
  padding: 25px 30px;
  position: fixed;
  width: 270px;
  height: 125vh;
}
.sidebar-left__sidebar.bg-yel {
  background-color: #E8BD01;
  background-image: radial-gradient(white 1%, transparent 20%);
  background-size: 5px 5px;
}
.sidebar-left__user {
  text-align: center;
}
.sidebar-left__user i {
  color: #ED7D31;
  font-size: 80px;
}
.sidebar-left__user .prof-name {
  font-size: 15px;
  padding: 8px 0;
}
.sidebar-left__nav {
  padding: 30px 0 0 20px;
}
.sidebar-left__nav .cat {
  font-size: 15px;
  color: #767171;
  font-weight: bold;
  position: relative;
  padding: 0 0 10px 0;
}
.sidebar-left__nav .cat i {
  position: absolute;
  left: -25px;
  transform: translate(0, 30%);
}
.sidebar-left__nav .cat .fa-lightbulb {
  color: #00749a;
}
.sidebar-left__nav .cat .fa-plane {
  color: #3f6253;
}
.sidebar-left__nav .cat .fa-user-tie {
  color: #009b0a;
}
.sidebar-left__nav ul:not(:last-child) {
  padding: 0 0 20px 0;
}
.sidebar-left__nav ul li a {
  display: block;
  color: #767171;
  line-height: 1.5em;
  transition: 0.2s;
}
.sidebar-left__nav ul li a:hover {
  background-color: #935d1f;
  padding: 0 0 0 12px;
  color: #fff;
}
