body.template-transactions\._transactions {
  background-color: #f8f5f4;
}

.transactions__record--main {
  background-color: #fff;
}
.transactions__record--main table {
  border-collapse: collapse;
  width: 100%;
  height: 90px;
}
.transactions__record--main table tr:first-child {
  border-top: 2px solid #f8f5f4;
}
.transactions__record--main table tr:last-child {
  border-bottom: 2px solid #f8f5f4;
}
.transactions__record--main table tr:not(:last-child) {
  border-bottom: 2px solid #f8f5f4;
}
.transactions__record--main table tr th {
  text-align: initial;
  padding: 10px;
  font-weight: 600;
  color: #935d1f;
}
.transactions__record--main table tr td {
  font-size: 15px;
  padding: 15px 10px;
}
.transactions__record--main table .status {
  background: green;
  color: #fff;
  margin: 10px 0;
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  border-radius: 100px;
}
.transactions__search {
  padding: 0 0 20px 0;
}
.transactions__search .hdng-title {
  padding: 0;
}
.transactions__search .ttl-w-search {
  display: flex;
  justify-content: space-between;
}
.transactions__search .d-flex {
  display: flex;
  align-items: center;
}
.transactions__search .d-flex .search-inner .search-field input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #939393;
}
.transactions__search .d-flex .add-button {
  margin: 0 0 0 10px;
}
.transactions__search .d-flex .add-button .btn-1 {
  padding: 10px;
  font-size: 15px;
  background-color: #935d1f;
  color: #fff;
  border-radius: 100px;
}
.transactions__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 0 0;
}
.transactions__pagination .entries p {
  font-size: 14px;
}
.transactions__pagination .pagination-number .numb {
  padding: 5px 10px;
}
.transactions__pagination .pagination-number .numb.active {
  background-color: #935d1f;
  color: #fff;
}
